/*General*/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box ;
    }

 /*Tipografía*/

 @font-face {
    font-family: "Roboto";
    src: url(/fonts/Roboto-Regular.ttf);
 }

 /*Cuerpo */

body {
    box-sizing: border-box;
}

/*Navbar*/
.navbar-brand img{
    width: 120px;
}

.navbar{
    padding-left: 30px;
    background-color: #ef8354;
    position: sticky 20px;
    
}

.navbar a:hover {
    color:aliceblue;
}

.nav-item {
    font-weight: bold;
    font-family: "Roboto";
    font-size: 18px;
    padding: 20px;
}

/* Textos principales de páginas*/

.container h1 {
    justify-content: center;
    text-align: center;
    align-items: center;
    font-family: "Roboto";
    padding-top: 30px;
    font-size: 32px;
}

/* Subtextos */

.container h2 {
    justify-content: center;
    text-align: center;
    align-items: center;
    font-family: "Roboto";
    padding-top: 0px;
    padding-bottom: 20px;
    font-size: 24px;
}

/* Footer general */
footer{
    background: #018599;
    display: flex;
   justify-content: center;
   margin-top: 40px;
   padding-left: 0; 
}

.enlaces img{
    width: 75px;
    padding: 10px;
}

/* Digimundo __ Tammers*/

.img-galle { 
    display: flex;
   margin-left: auto;
   margin-right: auto;
   justify-content: center; 
    margin-top: 25px;
    background-color: #ef8354;
    padding: 15px;
    height: 300px;
    width: 1000px;
    /*overflow: scroll;*/ 
    box-sizing: border-box;
}

.texto__tamers {
    padding-left: 25px;
}

/* Imagenes Digimundo principales */
.row img {
    width: 600px;
    padding-top: 30px;
}

/* Imagenes Contenido Digimons*/
.digimon__pic img{
    width: auto;
    height: 230px;
}

/* Contacto*/
.contacto img {
    width: 400px;
    padding-bottom: 20px;
}

/* Tienda */

.card img {
    border-top-left-radius: var(--bs-card-inner-border-radius);
    border-top-right-radius: var(--bs-card-inner-border-radius);
    width: 100%;
    align-items: center;
    justify-content: center;
}

.card {
    padding: 10;
}













 
 
 
