* {
   padding: 0;
   margin: 0;
}

@font-face {
   font-family: "Roboto";
   src: url(Fonts/Roboto-Regular.ttf);
}

body {
    font-family: Roboto;
background: #e8e8e8;
position: relative; min-height: 100%; top: 0px;
}



.menu{
    list-style: none;
    background: #018599;
    width: 100%;
    display: flex;
    text-align: center;
    position: fixed;
    z-index: 0;
    margin-top: 0px;
    
    
}
.menu img {
   width: 100px;
}

.menu li a{
    text-decoration: none;
    color: white;
    display: inline-block;
    padding: auto;
    
}

.menu li{
    display: inline-block;
    text-align: center;
}

.menu li a:hover{
    background: #ef8354;
}

.menu1 {
   position: relative;
}

.menu2 {
   position: relative;
   left: 100px;
   top: 15px;
}
.menu3 {
   position: relative;
   left: 250px;
   top: 15px;
}

.menu4 {
   position: relative;
   left: 400px;
   top: 15px;
}

.menu5 {
   position: relative;
   left: 550px;
   top: 15px;
}

.menu6 {
   position: relative;
   left: 700px;
   top: 15px;
}


.form-register {
    width: 400px;
    background: #ef8354;
    padding: 60px;
    margin: auto;
    border-radius: 8px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: black;
 }

 .form-register h4 {
    text-align: center;
    margin-bottom: 40px;
 }
 .form-register {
    font-size: 22px;
    margin-bottom: 20px;
 }
 .controls {
    width: 100%;
    background: #ffffff;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 30px;
    border: 1px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
 }
 .form-register p {
    height: 40px;
    text-align: center;
    font-size: 18px;
    line-height: 30px;
 }
 .form-register .buttons {
    width: 100%;
    background: #018599;
    border: none;
    padding: 12px;
    color:#ffffff;
    margin: 16px 0;
    font-size: 16px;
    border-radius: 4px; 
 }



 .Encabezado1 {
   text-align: center;
   margin: 10px;
   font-size: 24px;

   }

 .Historia {text-align: justify;
    margin: 100px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
    margin-top: 20px;
    margin-bottom: 20px;
 }

 #img-center {
   display: block;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;  
}

 .img-galle { 
   display: flex;
  margin-left: auto;
  margin-right: auto;
  justify-content: center; 
   margin-top: 25px;
   background-color: #ef8354;
   padding: 15px;
   height: 300px;
   width: 1000px;
   /*overflow: scroll;*/ 
   box-sizing: border-box;
   
 }
 .img-galle div {
   justify-content: center;
   align-items: center;
   
 }
.textotamers {
   padding-left: 25px;
}
.Encabezado2 {
   text-align: center;
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   font-size: 18px;
   margin-top: 20px;
   margin-bottom: 20px;
}

.FooterRedes {
   display: flex;
   justify-content: center;
   padding: 10px 0;

}

.iconos {
   width: 35px;
   margin: 0 10px;
   
}


 
 

